/* font family rules

title, nav ==>> font-family: 'Martel', serif;
text ==>> font-family: 'Nunito', sans-serif; */

:root {
    --primary-color: #195E56;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: whitesmoke;
    color: rgb(53, 52, 52);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

a, nav button {
    text-decoration: none;
    color: #000;
    margin: auto;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
}

h1, h2 {
    font-family: 'Martel', serif;
    font-weight: bolder;
    text-decoration: underline;
}


h2 {
    color: green;
    font-size: 3rem;
}

p {
    padding: 10px;
    margin: 10px;
}

.authenticateText {
    text-decoration: none;
    margin: 20px 0 30px 0;
}

.authenticateLink {
    font-size: 2rem;
    font-weight: bold;
    background-color: #db4343;
    border: 4px outset rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 10px 25px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.5s;
}

.authenticateLink:hover {
    background-color: #ff6666;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 15px 35px;
}